<mat-sidenav-container class="admin-container">
  <mat-sidenav #sidenav mode="side" opened class="admin-sidenav">
    <div class="sidenav-header">
      <mat-icon class="brand-icon">admin_panel_settings</mat-icon>
      <span>Panel Admin</span>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-nav"
          (click)="isMobile && sidenav.close()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="admin-content">
    <mat-toolbar color="primary" class="admin-toolbar">
      @if (isMobile) {
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="spacer"></span>
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">{{ userName }}</span>
      <button mat-icon-button [matMenuTriggerFor]="adminMenu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #adminMenu>
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
