@use '../../../../variables' as *;

.report-list-container {
  padding-top: 2rem;
  padding-bottom: 4rem;

  .table {
    th {
      white-space: nowrap;
    }
  }

  .offline-row {
    background-color: #fffbeb !important;

    td {
      border-bottom-color: #fcd34d;
    }
  }

  .btn-group {
    box-shadow: $shadow-sm;
    border-radius: $radius;

    .btn {
      padding: 0.35rem 0.75rem;
      font-size: 0.8rem;
    }
  }
}
